/*
** UNTV - torrent-stream-search styles
** Author: Gordon Hall
*/

#torrent-list ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

#torrent-list li {
  display: inline-table;
  width: 120px;
  padding: 12px;
}

#torrent-list .poster {

}

ul.movie-list li img {
  
}

ul.movie-list li strong {
  
}
