/*
** UNTV - tv.less
** Author: Gordon Hall
*/

body {
  font-family: Ubuntu, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#app:before {
  content: "";  
  display: block;  
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  background: rgba(0,25,55, 0.6); 
  -moz-transition: background .3s linear;  
  -webkit-transition: background .3s linear;  
  -o-transition: background .3s linear;  
  transition: background .3s linear;
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../assets/images/backgrounds/gray-texture.jpg");
  background-position: top center;
  background-repeat: repeat-x;
  background-size: 100% 100%;
  background-color: #333;
}

#app.blurred {
  -webkit-filter: blur(4px) saturate(50%);
}

.logo {
  font-family: "Montserrat Subrayada";
  position: fixed;
  bottom: 0;
  right: 24px;
  margin: 0;
  padding: 0;
  font-size: 172px;
  opacity: 0.4;
  text-shadow: 0 2px 0 rgba(255,255,255,0.4);
}

#extensions-container {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 7;
}

#extensions-container.visible {
  display: block;
}

#extensions-container > * {
  padding: 24px;
  color: #fff;
}

#init-loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/images/loader.gif') center center no-repeat rgba(0,0,0,0.8);
  background-size: 200px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/images/loader.gif') center center no-repeat;
  background-size: 200px;
  padding: 0 !important;
}
