/*
** UNTV - video-library styles
** Author: Gordon Hall
*/

@-webkit-keyframes select_item {
  from {
    -webkit-transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1);
  }
}

header.extension-header {
  background-image: url("../icons/icon-white.svg");
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 32px;
}

#files {
  position: fixed;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 70%;
  background: #000;
  z-index: 9;
  box-shadow: 14px 0 24px #000;
}

#files ul {
  opacity: 0.75;
  margin: 0;
  padding: 0;
  padding: 20px 0;
  list-style-type: none;
}

#files ul.navilist-focused {
  opacity: 1;
}

#files ul li {
  padding: 10px 24px;
  font-size: 22px;
  -webkit-transform: scale(0.9);
  opacity: 0.9;
}

#files ul li.navilist-selected {
  font-weight: bold;
  -webkit-transform: scale(1);
  opacity: 1;
  -webkit-animation: select_item .2s;
  background: url("../../../assets/images/tick-white.svg") left center no-repeat;
  background-size: 10px 20px;
}

#movie-files {
  background-color: rgba(0,0,0,0.25);
  position: fixed;
  top: 65px;
  left: 30%;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 8px 22px #000;
  z-index: 8;
}


#movie-files.loading {
  background: url("../../../assets/images/loader.gif") center center no-repeat rgba(0,0,0,0.25);
}

#movie-files ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}

#movie-files ul li {
  opacity: 0.9;
  -webkit-transform: scale(0.9);
  background-color: rgba(0,0,0,0.5);
  border: 1px solid rgba(255,255,255,0.5);
}

#movie-files ul li.navigrid-selected {
  -webkit-transform: scale(1);
  opacity: 1;
  -webkit-animation: select_item .2s;
}

.local-movie {
  margin: 24px 24px 12px 24px;
  padding: 12px; 
}

.local-movie .screenshots {
  float: left;
  margin: 0 24px 0 0;
  border: 1px solid #fff;
  box-shadow: 0 0 3px #000;
}

.local-movie .screenshots img {
  
}

.local-movie h3 {
  margin: 0;
}

.local-movie .metadata {
  margin: 12px 0;
}

.local-movie .metadata strong {
  display: block;
}

.local-movie .metadata strong span {
  font-weight: normal;
}

.no-movies {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 412px;
  height: 200px;
  margin: -100px 0 0 -206px;
  font-size: 36px;
  text-align: center;
  text-shadow: 0 3px 5px #000;
}
