#vkeyboard
  .vkeyboard-prompt.animated.fadeInDown
    p #{hint}
  .vkeyboard-input
    input.vkeyboard-value.mousetrap(type="text")
  .vkeyboard.animated.fadeInUp(data-type="alphanum")
    dl
      dd 1
      dd 2
      dd 3
      dd 4
      dd 5
      dd 6
      dd 7
      dd 8
      dd 9
      dd 0
    dl
      dd q
      dd w
      dd e
      dd r
      dd t
      dd y
      dd u
      dd i
      dd o
      dd p
    dl
      dd a
      dd s
      dd d 
      dd f
      dd g
      dd h
      dd j
      dd k
      dd l
      dd.delete(data-action="backspace")
    dl
      dd z
      dd x
      dd c
      dd v
      dd b
      dd n
      dd m
      dd.space.two-wide(data-action="space")
      dd.return(data-action="submit")
  .vkeyboard.animated.fadeInUp(data-type="symbols")
    dl
      dd !
      dd @
      dd #
      dd $
      dd %
      dd ^
      dd &amp;
      dd *
      dd (
      dd )
    dl
      dd -
      dd _
      dd +
      dd =
      dd [
      dd ]
      dd {
      dd }
      dd ;
      dd :
    dl 
      dd '
      dd "
      dd \
      dd |
      dd &lt;
      dd &gt;
      dd ,
      dd .
      dd /
      dd ?
    dl
      dd.empty
      dd.empty
      dd.empty
      dd.empty
      dd.empty
      dd.space.two-wide(data-action="space")
      dd.delete(data-action="backspace")
      dd.return.two-wide(data-action="submit")
