//- menu list
#torrent-menu
  ul
    li.search-torrents(data-list-action="search", data-list-param="") 
      input#torrent-search.mousetrap(type="text", placeholder="Search Movies")
    li(data-list-action="browse", data-list-param="") Latest Movies
    for genre in genres
      li(data-list-action="browse", data-list-param="#{genre}") #{genre}
//- details container
#torrent-details
//- grid container
#torrent-list.loader
